**/bin/
**/obj/
**/out/
build/
out/
.vs/
.idea/
.vscode/
*.user
*.suo
*.log
*.dmp
*.so
*.a
*.dll
*.apk
*.apks
*.zip
Android/local.properties
Android/library/src/main/assets/runtime/
Android/library/src/main/jniLibs/
